<!-- !Tahukah Kamu -->
<StackLayout marginBottom="4" marginTop="4">
    <Label text="Tahukah Kamu?" fontSize="20" fontWeight="bold" paddingLeft="6" marginBottom="4"></Label>
    <FlexboxLayout flexDirection="row" width="100%" marginBottom="4" justifyContent="space-between"
        alignItems="flex-start" width="100%" (tap)="viewBerita()">
        <Image src="res://picsatu" width="75" height="75" stretch="aspectFill" marginRight="8" borderRadius="8">
        </Image>
        <StackLayout width="80%" orientation="vertical">
            <Label text="Judul Arikel" fontSize="12" horizontalAlignment="left" color="#055aa5" borderRadius="8"
                padding="4" backgroundColor="#cacbd2"></Label>
            <Label text="Lorem Ipsum is simply dummy text of the printing and typesetting industry." textWrap="true"
                fontSize="14"></Label>
        </StackLayout>
    </FlexboxLayout>
    <StackLayout class="hr m-10"></StackLayout>
    <FlexboxLayout flexDirection="row" width="100%" marginBottom="4" justifyContent="space-between"
        alignItems="flex-start" width="100%" (tap)="viewBerita()">
        <Image src="res://picsatu" width="75" height="75" stretch="aspectFill" marginRight="8" borderRadius="8">
        </Image>
        <StackLayout width="80%" orientation="vertical">
            <Label text="Judul Arikel" fontSize="12" horizontalAlignment="left" color="#055aa5" borderRadius="8"
                padding="4" backgroundColor="#cacbd2"></Label>
            <Label text="Lorem Ipsum is simply dummy text of the printing and typesetting industry." textWrap="true"
                fontSize="14"></Label>
        </StackLayout>
    </FlexboxLayout>
    <StackLayout class="hr m-10"></StackLayout>
    <FlexboxLayout flexDirection="row" width="100%" marginBottom="4" justifyContent="space-between"
        alignItems="flex-start" width="100%" (tap)="viewBerita()">
        <Image src="res://picsatu" width="75" height="75" stretch="aspectFill" marginRight="8" borderRadius="8">
        </Image>
        <StackLayout width="80%" orientation="vertical">
            <Label text="Judul Arikel" fontSize="12" horizontalAlignment="left" color="#055aa5" borderRadius="8"
                padding="4" backgroundColor="#cacbd2"></Label>
            <Label text="Lorem Ipsum is simply dummy text of the printing and typesetting industry." textWrap="true"
                fontSize="14"></Label>
        </StackLayout>
    </FlexboxLayout>
    <StackLayout class="hr m-10"></StackLayout>
    <FlexboxLayout flexDirection="row" width="100%" marginBottom="4" justifyContent="space-between"
        alignItems="flex-start" width="100%" (tap)="viewBerita()">
        <Image src="res://picsatu" width="75" height="75" stretch="aspectFill" marginRight="8" borderRadius="8">
        </Image>
        <StackLayout width="80%" orientation="vertical">
            <Label text="Judul Arikel" fontSize="12" horizontalAlignment="left" color="#055aa5" borderRadius="8"
                padding="4" backgroundColor="#cacbd2"></Label>
            <Label text="Lorem Ipsum is simply dummy text of the printing and typesetting industry." textWrap="true"
                fontSize="14"></Label>
        </StackLayout>
    </FlexboxLayout>
    <StackLayout class="hr m-10"></StackLayout>
    <FlexboxLayout flexDirection="row" width="100%" marginBottom="4" justifyContent="space-between"
        alignItems="flex-start" width="100%" (tap)="viewBerita()">
        <Image src="res://picsatu" width="75" height="75" stretch="aspectFill" marginRight="8" borderRadius="8">
        </Image>
        <StackLayout width="80%" orientation="vertical">
            <Label text="Judul Arikel" fontSize="12" horizontalAlignment="left" color="#055aa5" borderRadius="8"
                padding="4" backgroundColor="#cacbd2"></Label>
            <Label text="Lorem Ipsum is simply dummy text of the printing and typesetting industry." textWrap="true"
                fontSize="14"></Label>
        </StackLayout>
    </FlexboxLayout>
    <Button class="-outline" text="Lihat Semua Artikel" (tap)="listBerita()"></Button>
</StackLayout>
<!-- !Tahukah Kamu -->