<!-- !Penawaran Menarik -->
<StackLayout marginBottom="4" marginTop="4">
    <Label text="Penawaran Menarik" fontSize="20" fontWeight="bold" paddingLeft="6" marginBottom="4"></Label>
    <ScrollView orientation="horizontal" marginBottom="4">
        <StackLayout orientation="horizontal">
            <MDCardView rippleColor="#a0a3a9" margin="4" elevation="4" borderRadius="10">
                <Image src="res://picsatu" width="100%" height="150" stretch="aspectFill"></Image>
            </MDCardView>
            <MDCardView rippleColor="#a0a3a9" margin="4" elevation="4" borderRadius="10">
                <Image src="res://picdua" width="100%" height="150" stretch="aspectFill"></Image>
            </MDCardView>
            <MDCardView rippleColor="#a0a3a9" margin="4" elevation="4" borderRadius="10">
                <Image src="res://pictiga" width="100%" height="150" stretch="aspectFill"></Image>
            </MDCardView>
        </StackLayout>
    </ScrollView>
</StackLayout>
<!-- !Penawaran Menarik -->